p {
  font-family: Lato;
}
.card {
  margin: 20px;
}

.one {
    background-color: #009688;
}
.one {
    background-color: #fd7474;
    background-color: #ffa1a1;
}
.one {
    background-color: #e8fd74;
    background-color: #f1fac0;
}
.one {
    background-color: #74fd86;
    background-color: #b5ffbf;
}
.two, div.colored>div:nth-child(10n+2) {
    background-color: #3949ab;
}
